.App {
    text-align: center;
}

.login-container {
    width: 300px;
    height: auto;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-form h2 {
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    font-size: 28px;
    color: #d29d00;
}

.container form .inputBox input {
    position: relative;
    width: 100%;
    outline: none;
    padding: 15px 10px;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.login-button {
    background-color: #d29d00;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.login-button:hover {
    background-color: rgb(232, 174, 0);
    transform: scale(1.05);
}

.login-button:active {
    background-color: #b8942c;
    transform: scale(0.95);
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}

.error-message {
    font-size: 10px;
    color: red;
    margin-bottom: 4px;
    font-weight: bold;
}

.inputField {
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 8px 0;
    width: 100%;
    margin-bottom: 2px;
    outline: none;
    transition: border-bottom 0.3s ease;
}

.inputField:focus {
    border-bottom: 1px solid #d29d00;
}

.inputFieldError {
    border: 2px solid red;
    box-shadow: 0 0 5px red;
}

.logo {
    margin-right: 20px;
    padding: 0;
}

.borderLine {
}

.github-button, .discord-button {
    background-color: #24292e;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.github-button:hover, .discord-button:hover {
    background-color: #2dba4e;
    transform: scale(1.05);
}

.github-button:active, .discord-button:active {
    background-color: #24292e;
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    .login-form h2 {
        font-size: 24px;
    }

    .login-button {
        font-size: 12px;
    }

    .github-button,
    .discord-button {
        font-size: 12px;
    }
}